<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"3rem","bottom":"3rem"}}},"layout":{"type":"constrained","contentSize":"800px"}} -->
<main class="wp-block-group" style="padding-top:3rem;padding-bottom:3rem">
	<!-- wp:post-title {"level":1,"style":{"typography":{"fontWeight":"800"}},"fontSize":"display-large"} /-->
	<!-- wp:template-part {"slug":"post-meta"} /-->
	<!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"border":{"radius":"16px"}}} /-->
	<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	<!-- wp:template-part {"slug":"comments"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
