// BUDU CLOSE
// Dismiss button used by alerts, modals, toasts, offcanvas, etc.

.btn-close {
  --budu-btn-close-color: #{$budu-black};
  --budu-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$budu-black}'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");

  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em;
  color: var(--budu-btn-close-color);
  background: transparent var(--budu-btn-close-bg) center / 1em auto no-repeat;
  border: 0;
  border-radius: $budu-border-radius-sm;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.15s ease-in-out;

  &:hover {
    opacity: 0.75;
  }

  &:focus-visible {
    outline: 0;
    box-shadow: $budu-focus-ring-box-shadow;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
    user-select: none;
    opacity: 0.25;
  }
}

// White variant (on dark backgrounds)
.btn-close-white {
  --budu-btn-close-color: #{$budu-white};
  --budu-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$budu-white}'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
}