// BOODOO TOOLTIP
// Tooltip (JS-driven positioning).

.tooltip {
  --boodoo-tooltip-bg: #{$boodoo-tooltip-bg};
  --boodoo-tooltip-color: #{$boodoo-tooltip-color};
  --boodoo-tooltip-border-radius: #{$boodoo-tooltip-border-radius};
  --boodoo-tooltip-opacity: #{$boodoo-tooltip-opacity};
  --boodoo-tooltip-padding-y: #{$boodoo-tooltip-padding-y};
  --boodoo-tooltip-padding-x: #{$boodoo-tooltip-padding-x};

  position: absolute;
  z-index: $boodoo-zindex-tooltip;
  display: block;
  margin: 0;
  font-family: var(--boodoo-font-sans-serif);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  white-space: normal;
  word-spacing: normal;
  line-break: auto;
  font-size: 0.875rem;
  word-wrap: break-word;
  opacity: 0;

  &.show {
    opacity: var(--boodoo-tooltip-opacity);
    animation: boodoo-fade-in 0.15s ease;
  }
}

.tooltip-inner {
  max-width: 200px;
  padding: var(--boodoo-tooltip-padding-y) var(--boodoo-tooltip-padding-x);
  color: var(--boodoo-tooltip-color);
  text-align: center;
  background-color: var(--boodoo-tooltip-bg);
  border-radius: var(--boodoo-tooltip-border-radius);
}

// Arrows
.tooltip-arrow {
  position: absolute;
  display: block;
  width: 0.8rem;
  height: 0.4rem;

  &::before {
    position: absolute;
    content: "";
    border-color: transparent;
    border-style: solid;
  }
}

.bs-tooltip-top,
.bs-tooltip-auto[data-popper-placement^="top"] {
  padding: 0.4rem 0;

  .tooltip-arrow {
    bottom: 0;

    &::before {
      top: -1px;
      border-width: 0.4rem 0.4rem 0;
      border-top-color: var(--boodoo-tooltip-bg);
    }
  }
}

.bs-tooltip-end,
.bs-tooltip-auto[data-popper-placement^="right"] {
  padding: 0 0.4rem;

  .tooltip-arrow {
    left: 0;
    width: 0.4rem;
    height: 0.8rem;

    &::before {
      right: -1px;
      border-width: 0.4rem 0.4rem 0.4rem 0;
      border-right-color: var(--boodoo-tooltip-bg);
    }
  }
}

.bs-tooltip-bottom,
.bs-tooltip-auto[data-popper-placement^="bottom"] {
  padding: 0.4rem 0;

  .tooltip-arrow {
    top: 0;

    &::before {
      bottom: -1px;
      border-width: 0 0.4rem 0.4rem;
      border-bottom-color: var(--boodoo-tooltip-bg);
    }
  }
}

.bs-tooltip-start,
.bs-tooltip-auto[data-popper-placement^="left"] {
  padding: 0 0.4rem;

  .tooltip-arrow {
    right: 0;
    width: 0.4rem;
    height: 0.8rem;

    &::before {
      left: -1px;
      border-width: 0.4rem 0 0.4rem 0.4rem;
      border-left-color: var(--boodoo-tooltip-bg);
    }
  }
}