<!--
title: Containers
description: Containers are the most basic layout element in budu and are required when using the grid system.
section: layout
order: 0
-->
<h1>Containers</h1>
<p class="lead">Containers are a fundamental building block of budu that contain, pad, and (sometimes) center the
  content within them. Use them to avoid awkward full-width horizontal layouts.</p>

<h2 id="how-it-works">How they work</h2>
<p>Containers are the most basic layout element in budu and are <strong>required when using the default grid
    system</strong>. Choose from a responsive, fixed-width container (meaning its <code>max-width</code> changes at each
  breakpoint) or fluid-width (meaning it's <code>100%</code> wide all the time). While containers <em>can</em> be
  nested, most layouts do not require a nested container.</p>

<h2 id="default">Default container</h2>
<p>budu's default <code>.container</code> class is a responsive, fixed-width container, meaning its
  <code>max-width</code> changes at each breakpoint.</p>
<div class="highlight">
  <pre><code>&lt;div class="container"&gt;
  &lt;!-- Content here --&gt;
&lt;/div&gt;</code></pre>
</div>

<h2 id="fluid">Fluid container</h2>
<p>Use <code>.container-fluid</code> for a full-width container, spanning the entire width of the viewport.</p>
<div class="highlight">
  <pre><code>&lt;div class="container-fluid"&gt;
  &lt;!-- Content here --&gt;
&lt;/div&gt;</code></pre>
</div>

<h2 id="responsive">Responsive containers</h2>
<p>budu comes with three responsive containers, which change the <code>max-width</code> at specific breakpoints.</p>
<div class="highlight">
  <pre><code>&lt;div class="container-sm"&gt;100% wide until small breakpoint&lt;/div&gt;
&lt;div class="container-md"&gt;100% wide until medium breakpoint&lt;/div&gt;
&lt;div class="container-lg"&gt;100% wide until large breakpoint&lt;/div&gt;
&lt;div class="container-xl"&gt;100% wide until extra-large breakpoint&lt;/div&gt;
&lt;div class="container-xxl"&gt;100% wide until extra-extra-large breakpoint&lt;/div&gt;</code></pre>
</div>

<h2 id="widths">Container widths</h2>
<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th></th>
      <th>Extra small &lt;576px</th>
      <th>Small &ge;576px</th>
      <th>Medium &ge;768px</th>
      <th>Large &ge;992px</th>
      <th>X-Large &ge;1200px</th>
      <th>XX-Large &ge;1400px</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>.container</code></td>
      <td>100%</td>
      <td>540px</td>
      <td>720px</td>
      <td>960px</td>
      <td>1140px</td>
      <td>1320px</td>
    </tr>
    <tr>
      <td><code>.container-sm</code></td>
      <td>100%</td>
      <td>540px</td>
      <td>720px</td>
      <td>960px</td>
      <td>1140px</td>
      <td>1320px</td>
    </tr>
    <tr>
      <td><code>.container-md</code></td>
      <td>100%</td>
      <td>100%</td>
      <td>720px</td>
      <td>960px</td>
      <td>1140px</td>
      <td>1320px</td>
    </tr>
    <tr>
      <td><code>.container-lg</code></td>
      <td>100%</td>
      <td>100%</td>
      <td>100%</td>
      <td>960px</td>
      <td>1140px</td>
      <td>1320px</td>
    </tr>
    <tr>
      <td><code>.container-xl</code></td>
      <td>100%</td>
      <td>100%</td>
      <td>100%</td>
      <td>100%</td>
      <td>1140px</td>
      <td>1320px</td>
    </tr>
    <tr>
      <td><code>.container-xxl</code></td>
      <td>100%</td>
      <td>100%</td>
      <td>100%</td>
      <td>100%</td>
      <td>100%</td>
      <td>1320px</td>
    </tr>
  </tbody>
</table>