.form-select,
select:not([class]),
[data-boodoo-select] {
  display: block;
  width: 100%;
  padding: $boodoo-input-btn-padding-y $boodoo-input-btn-padding-x;
  padding-right: $boodoo-input-btn-padding-x * 2.5;
  font-family: $boodoo-input-btn-font-family;
  font-size: $boodoo-input-btn-font-size;
  font-weight: 400;
  line-height: $boodoo-input-btn-line-height;
  color: var(--boodoo-body-color);
  background-color: $boodoo-form-control-bg;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%235f6b8c' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right $boodoo-input-btn-padding-x center;
  background-size: 16px 12px;
  border: $boodoo-input-btn-border-width solid $boodoo-form-control-border-color;
  border-radius: $boodoo-border-radius;
  appearance: none;

  &:focus {
    border-color: $boodoo-form-control-focus-border;
    outline: 0;
    box-shadow: $boodoo-form-control-focus-box-shadow;
  }

  &[multiple],
  &[size]:not([size="1"]) {
    padding-right: $boodoo-input-btn-padding-x;
    background-image: none;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $boodoo-form-control-disabled-bg;
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--boodoo-body-color);
  }
}

.form-select-sm,
[data-size="sm"] {
  padding-top: $boodoo-input-btn-padding-y-sm;
  padding-bottom: $boodoo-input-btn-padding-y-sm;
  padding-left: $boodoo-input-btn-padding-x-sm;
  font-size: $boodoo-input-btn-font-size-sm;
  border-radius: $boodoo-border-radius-sm;
}

.form-select-lg,
[data-size="lg"] {
  padding-top: $boodoo-input-btn-padding-y-lg;
  padding-bottom: $boodoo-input-btn-padding-y-lg;
  padding-left: $boodoo-input-btn-padding-x-lg;
  font-size: $boodoo-input-btn-font-size-lg;
  border-radius: $boodoo-border-radius-lg;
}