<!--
title: Navs & tabs
description: Documentation and examples for how to use budu's included navigation components.
section: components
order: 13
-->
<h1>Navs &amp; tabs</h1>
<p class="lead">Documentation and examples for how to use budu's included navigation components.</p>

<h2 id="base">Base nav</h2>
<div class="bd-example">
  <ul class="nav">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a></li>
  </ul>
</div>
<div class="highlight">
  <pre><code>&lt;ul class="nav"&gt;
  &lt;li class="nav-item"&gt;&lt;a class="nav-link active" href="#"&gt;Active&lt;/a&gt;&lt;/li&gt;
  &lt;li class="nav-item"&gt;&lt;a class="nav-link" href="#"&gt;Link&lt;/a&gt;&lt;/li&gt;
  &lt;li class="nav-item"&gt;&lt;a class="nav-link disabled" href="#"&gt;Disabled&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
</div>

<h2 id="pills">Pills</h2>
<div class="bd-example">
  <ul class="nav nav-pills">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
  </ul>
</div>

<h2 id="soft">Soft pills</h2>
<div class="bd-example">
  <ul class="nav nav-pills-soft">
    <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  </ul>
</div>

<h2 id="tabs">Tabs</h2>
<p>Takes the basic nav from above and adds the <code>.nav-tabs</code> class to generate a tabbed interface.</p>
<div class="bd-example">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#tab-a" data-budu-toggle="tab">Active</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="#tab-b" data-budu-toggle="tab">Link</a></li>
    <li class="nav-item"><a class="nav-link disabled" href="#">Disabled</a></li>
  </ul>
  <div class="pt-3">
    <div class="tab-content fade show active" id="tab-a">Active tab content.</div>
    <div class="tab-content fade d-none" id="tab-b">Second tab content.</div>
  </div>
</div>
<div class="highlight">
  <pre><code>&lt;ul class="nav nav-tabs"&gt;
  &lt;li class="nav-item"&gt;&lt;a class="nav-link active" href="#tab-a" data-budu-toggle="tab"&gt;Active&lt;/a&gt;&lt;/li&gt;
  &lt;li class="nav-item"&gt;&lt;a class="nav-link" href="#tab-b" data-budu-toggle="tab"&gt;Link&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
</div>

<h2 id="underline">Underline (Material)</h2>
<p>Use <code>.nav-underline</code> for a Material-style tab indicator.</p>
<div class="bd-example">
  <ul class="nav nav-underline">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  </ul>
</div>

<h2 id="vertical">Vertical</h2>
<p>Stack your navigation by changing the flex direction with <code>.nav-vertical</code> (or the <code>flex-column</code>
  utility).</p>
<div class="bd-example">
  <ul class="nav nav-vertical nav-pills flex-column" style="max-width:16rem">
    <li class="nav-item"><a class="nav-link active" href="#">Active</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
    <li class="nav-item"><a class="nav-link" href="#">Link</a></li>
  </ul>
</div>

<h2 id="tabs-js">Tabs with JavaScript</h2>
<p>To make the nav switch content, add <code>data-budu-toggle="tab"</code> (or <code>"pill"</code>) to each nav link and
  give the target panes ids matching the link <code>href</code>. budu wires everything up automatically.</p>
<div class="bd-example">
  <div class="nav nav-pills mb-2" role="tablist">
    <button class="nav-link active" id="pills-home-tab" data-budu-toggle="pill" data-budu-target="#pills-home"
      type="button" role="tab">Home</button>
    <button class="nav-link" id="pills-profile-tab" data-budu-toggle="pill" data-budu-target="#pills-profile"
      type="button" role="tab">Profile</button>
  </div>
  <div class="tab-content pt-1">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel">Home tab content.</div>
    <div class="tab-pane fade d-none" id="pills-profile" role="tabpanel">Profile tab content.</div>
  </div>
</div>